node_modules/
.idea/*
# android
.gradle/
/gradle/
/build
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx

screenshots/sc1.png
screenshots/sc4.jpg
screenshots/sc2.png
