<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Grocery list</title>
        <!-- styles -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div id="app" class="container p-0">
            <header class="d-flex">
                <h1 class="p-3 pl-3">Grocery List</h1>
                <p class="p-3">{{ items.length }} items</p>
            </header>
            <div>
                <list-item v-for="item in items" v-if="item.active" v-bind:deletetoggle="deleteToggle" v-bind:key="item.id"
                           v-bind:id="item.id" v-bind:title="item.title" v-bind:color="item.color"
                           v-on:delete-item="deleteItem($event)">
                </list-item>
            </div>
            <div class="px-3 my-3" id="options">
                <input type="text" v-model="itemInput"/>
                <button type="button" v-on:click="addItem">Add item</button>
                <select v-model="colorSelected">
                    <option></option>
                    <option style="background:red" value="red">Alex</option>
                    <option style="background:blue" value="blue">Aaron</option>
                    <option style="background:green" value="green">Tony</option>
                </select>
                <button type="button" v-on:click="displayMode">Display Mode</button>
            </div>
            <audio src="insight1.mp3"></audio>
        </div>
        <!--scripts-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <!-- Development -->
        <script src="https://vuejs.org/js/vue.js"></script>
        <!-- Production -->
        <!--<script src="https://vuejs.org/js/vue.min.js"></script>-->
        <script src="app.js"></script>
    </body>
</html>