
body{
    background: #e9eaee;
}

#app{
    background: #fff;
    overflow: auto;
    min-height: 100vh;
}

.item:hover{
    background: #fafafa;
}

header{
    border-bottom: solid 5px #000;
}
h1{
    font-size: 2.5em;
}
p{
    font-size: 1.5em;
    margin: 0;
}