
*{
    overflow: auto;
}
body{
    background: #e9eaee;
}

#app{
    background: #fff;
    overflow: auto;
    min-height: 100vh;
}
#options{

}
.item{
    border-bottom: solid 0.2em black;
}
.item:hover{
    background: #b4b4b4;
}

header{
    background: black;
    color: white;
}
h1{
    font-size: 2.5em;
}
p{
    font-size: 2em;
    margin: 0;
}