
*{
    overflow: auto;
}
body{
    background: #e9eaee;
}

#app{
    background: #fff;
    overflow: auto;
    min-height: 100vh;
}

.item{
    border-bottom: solid 0.2em black;
    position: relative;
}
.item:hover{
    background: #b4b4b4;
}
.item:hover button{
    display: initial;
}
.color{
    height: 100%;
    width: 2em;
    /*position: absolute;*/
    /*right: 0;*/
    /*top: 0;*/
    opacity: 0.8;
}
.delete-button{
    margin: 0;
    border: none;
    background: none;
    display: none;
}
.items-count{
    font-size: 1.6em;
}
header{
    background: black;
    color: white;
    align-items: center;
    justify-content: space-between;
}
h1{
    font-size: 2.5em;
}
p{
    font-size: 2em;
    margin: 0;
}
option{
    color: white;
    font-weight: 500;
}